<html>
    <head>
        <title>GoNode - Desafio 01 </title>
    </head>
    <body>
        <form action="/check" method="POST">
            <label>Nome Completo:</label><br/>
            <input type="text" name="username" placeholder="Informe seu nome"  required /><br/>
            <label>Data de Nascimento:</label><br/>
            <input type="date" name="bdate"  required /><br/>
            <button type="submit">Verificar </button>
        </form>
    </body>
</html>
